.sidebar {
  padding-top: 15px;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 2300px;
  background-color: #FFFFFF;
  z-index: 1000;
  transform: translateX(-900px);
  transition: all 0.4s ease-in-out; }

.header__sidebar {
  background-color: inherit;
  justify-content: space-evenly;
  display: flex;
  align-items: center;
  gap: 50px;
  margin-bottom: 30px; }

.header__sidebar--left-side {
  background-color: inherit;
  display: flex;
  align-items: center;
  gap: 10px; }

.header__logo-link_sidebar {
  background-color: inherit; }

.sidebar--open {
  transform: translateX(0); }

.side-menu {
  background-color: inherit;
  display: flex;
  flex-direction: column; }

.side-menu__button {
  background-color: inherit;
  box-sizing: border-box;
  border: none;
  display: flex;
  margin-bottom: 25px;
  margin-left: 15px; }

.side-menu__button--active {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: 0;
  color: #7e7e82;
  border: none;
  background-color: none; }

.side-menu__button--no-active {
  cursor: pointer;
  transition: all 0.1s ease-in-out; }

.side-menu__button--no-active:hover {
  opacity: 0.6; }

.side-menu__button--active::before {
  transform: translateX(-6px);
  content: '';
  display: flex;
  width: 4px;
  height: 32px;
  background: url(./static/left-border.svg); }

.button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out; }

.button:hover {
  opacity: 0.6; }

.header__close {
  background: url(./static/close.svg); }

.page-footer__call-button {
  background: url(./static/call-ic.svg); }

.page-footer__chat-button {
  background: url(./static/chat-ic.svg); }

.page-footer__profile-button {
  background: url(./static/profile-ic.svg); }

.page-footer {
  background-color: #FFFFFF;
  margin: 25px;
  margin-left: 20px; }

.contacts {
  background-color: #FFFFFF;
  margin-top: 15px;
  flex-direction: column;
  display: flex;
  gap: 10px; }

.page-footer__email {
  background-color: inherit;
  font-weight: 600; }

.page-footer__phone {
  background-color: inherit;
  font-weight: bold; }

.page-footer__buttons {
  background-color: #FFFFFF;
  display: flex;
  gap: 15px; }

.page-footer__language-switcher {
  background-color: #FFFFFF; }

.page-footer__language-button {
  background-color: inherit;
  transition: all 0.1s ease-in-out;
  border: none; }

.page-footer__language-button--no-active:hover {
  opacity: 0.6;
  cursor: pointer; }

.page-footer__contacts {
  background-color: inherit; }

.page-footer__language-button--active {
  color: #7e7e82; }

@media (min-width: 768px) {
  .sidebar {
    width: 320px;
    box-shadow: 34px 0px 25px -14px rgba(34, 60, 80, 0.14); } }

@media (min-width: 1366px) {
  .sidebar {
    padding-top: 35px;
    padding: 30px 10px;
    display: block;
    position: sticky;
    transform: translateX(0);
    box-shadow: none; }
  .header__close {
    display: none; } }

body,
html {
  width: 100vw;
  color: #7e7e82; }

.head {
  margin-top: 10px;
  margin-bottom: 25px;
  display: flex;
  justify-content: center; }

.head__description {
  display: flex;
  width: 100vw;
  height: 80px;
  background-color: #FFFFFF;
  justify-content: center;
  align-self: center;
  border-top: 1px #d9fff5 solid;
  background: linear-gradient(90deg, #F8F8F8, #FFFFFF); }

.description__price {
  height: 56px; }

.description__text {
  margin: auto 0;
  width: 90%;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #7e7e82;
  background-color: #FFFFFF;
  background: linear-gradient(90deg, #F8F8F8, #FFFFFF); }

.main {
  margin-top: 20px; }

.slider {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: flex;
  margin-left: 20px; }

.slide {
  background-color: #FFFFFF;
  width: 240px;
  height: 72px;
  border-radius: 6px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #EAEAEA; }

.slide__img {
  width: 108px;
  height: 32px;
  background-size: contain;
  background-repeat: no-repeat;
  transform: scale(1.1);
  background-color: #FFFFFF; }

.button__next-icon {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: none;
  background-image: url(./static/go-ic.svg); }

.slide__lenovo > .slide__link > .slide__img {
  background-image: url(./static/lenovo.png); }

.slide__samsung > .slide__link > .slide__img {
  background-image: url(./static/samsung.png); }

.slide__apple > .slide__link > .slide__img {
  background-image: url(./static/apple.png); }

.slide__bosch > .slide__link > .slide__img {
  background-image: url(./static/bosch.png); }

.slide__hp > .slide__link > .slide__img {
  background-image: url(./static/hp.png); }

.slide__acer > .slide__link > .slide__img {
  background-image: url(./static/acer.png); }

.slide__viewSonic > .slide__link > .slide__img {
  background-image: url(./static/viewSonic.png); }

.slide__sony > .slide__link > .slide__img {
  background-image: url(./static/sony.png); }

.swiper-button-next {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transform: translateX(-10px);
  opacity: 0; }

.swiper__scrollbar {
  margin-top: 45px; }

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #a1a1a1; }

.swiper-pagination-bullet-active {
  background: #B5B6BC;
  opacity: 1; }

.gradient {
  position: absolute;
  transform: translateY(-20px);
  z-index: 10;
  width: 24px;
  height: 81px; }

.slider__gradient-right {
  height: 90%;
  position: absolute;
  right: 0;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0), #F8F8F8); }

.slider__gradient-left {
  height: 90%;
  background: linear-gradient(-90deg, rgba(255, 255, 255, 0), #F8F8F8); }

.slide__button,
.slide__link {
  transition: all 0.2s ease-in-out; }

.slide__button:hover,
.slide__link:hover {
  opacity: 0.6; }

.footer {
  display: none; }

.hidden__slide {
  display: none; }

.swiper__container {
  margin-top: 30px;
  width: 100vw;
  margin-left: 20px; }

.swiper__container__slider {
  color: #1b1c21;
  font-weight: 600;
  border-radius: 6px;
  border: 1px #EAEAEA solid;
  width: 240px;
  height: 160px;
  background-color: #FFFFFF; }

.slider__text {
  background-color: inherit;
  margin-left: 15px; }

.slider__button__next-icon {
  cursor: pointer;
  position: absolute;
  margin-right: 10px;
  transform: translate(180px, 90px);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: none;
  background-image: url(./static/go-ic.svg); }

.swiper__container__nav {
  transform: translate(-5%, 10px);
  width: 100vw;
  height: 30px;
  margin: 0 auto;
  text-align: center; }

.swiper-pagination__scroll {
  width: 10px;
  height: 20px;
  display: inline-block;
  line-height: 30px; }

.swiper-wrapper__gradient-left {
  background: linear-gradient(-90deg, rgba(255, 255, 255, 0), #F8F8F8); }

.swiper-wrapper__gradient-right {
  right: 0;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0), #F8F8F8); }

.swiper-container__gradient {
  z-index: 1000; }

.swiper-container__gradient-left {
  width: 20px;
  height: 250px;
  position: absolute;
  left: 0;
  transform: translateY(20px);
  background: linear-gradient(-90deg, rgba(255, 255, 255, 0), #F8F8F8); }

.swiper-container__gradient-right {
  width: 20px;
  height: 250px;
  position: absolute;
  right: 0;
  transform: translateY(20px);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0), #F8F8F8); }

.swiper-wrapper__gradient {
  transform: translateY(-20px);
  z-index: 1000;
  position: absolute;
  width: 30px;
  height: 200px; }

.show-more__swiper {
  display: none; }

.service-card {
  width: 330px;
  height: 220px;
  display: grid;
  grid-template-rows: 80px 60px 60px;
  margin: 0 auto;
  background-color: #FFFFFF; }

.service-card--row {
  margin-left: 5%;
  display: grid;
  grid-template-rows: 20px;
  background-color: inherit;
  border-radius: 6px; }

.service-block {
  display: none; }

.row__name--service {
  color: #7e7e82;
  font-weight: 500; }

.button--service {
  transform: translateY(-20px); }

.row__service {
  background-color: inherit;
  font-weight: 400; }

th {
  font-weight: 500;
  color: #7e7e82; }

.swiper__container__nav--mobile {
  transform: translate(-5%, 10px);
  width: 100vw;
  height: 30px;
  margin: 0 auto;
  text-align: center; }

.swiper-pagination--mobile {
  width: 10px;
  height: 20px;
  display: inline-block;
  line-height: 30px; }

td {
  font-weight: 400;
  color: #1b1c21; }

.service-card {
  margin-top: 30px;
  margin-left: 20px; }

.about__price {
  margin-left: 20px;
  text-align: left;
  max-width: 420px;
  max-height: 60px; }

.about__commercial-offer {
  margin-top: 60px;
  margin-left: 20px;
  max-width: 192px;
  font-weight: 600; }

.offer__link {
  text-decoration: none; }

.about__dev {
  margin-top: 50px;
  width: 100vw; }

.dev__text {
  text-align: center; }

.offer__text::after {
  content: ' ';
  display: inline-block;
  width: 24px;
  height: 28px;
  background: url(./static/arrow-text.svg);
  transform: translateY(9px); }

@media (min-width: 768px) {
  body,
  html {
    min-width: 768px; }
  .about__commercial-offer {
    max-width: 316px; }
  .head__description {
    height: 56px; }
  .about__dev {
    display: grid;
    grid-template-columns: repeat(3, 1fr); }
  .service-block--mobile {
    display: none; }
  .head {
    margin-left: 20px;
    justify-content: left; }
  .swiper-wrapper__gradient {
    display: none; }
  .service-block {
    display: block;
    width: 100vw; }
  .service-block__table {
    margin: 0 auto; }
  .service__button {
    padding-right: 5vw; }
  th:nth-child(3),
  td:nth-child(3) {
    width: 40%;
    text-align: center; }
  th:nth-child(2),
  td:nth-child(2) {
    width: 15%;
    text-align: center; }
  th:nth-child(1),
  td:nth-child(1) {
    width: 60%;
    text-align: left;
    padding-left: 3vw; }
  td {
    padding: 2%; }
  .swiper__container {
    margin: 0 auto;
    width: 100vw;
    margin-top: 30px;
    height: 150px;
    overflow: hidden;
    transition: all 0.4s ease-in-out; }
  .swiper__container--open {
    height: 460px; }
  .swiper__container__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    height: 150px;
    transition: all 0.4s ease-in-out; }
  .gradient {
    width: 1px;
    height: 1px;
    overflow: hidden; }
  .slider {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 230px);
    gap: 20px;
    height: 140px;
    transition: all 0.4s ease-in-out; }
  .show-more__slider {
    height: 235px; }
  .slide {
    width: 224px; }
  .footer {
    margin-top: 15px;
    margin-left: 30px;
    display: block; }
  .footer__show-more {
    display: flex;
    align-items: center;
    gap: 10px; }
  .show-more__arrow {
    width: 8px;
    height: 11px;
    background-image: url(./static/arrow.svg);
    transition: all 0.4s ease-in-out; }
  .arrow__top {
    transform: rotate(180deg); }
  .show-more__swiper {
    display: flex;
    margin-left: 35px; }
  .show-more__button {
    cursor: pointer;
    border: none;
    font-weight: medium;
    color: #1b1c21; } }

@media (min-width: 768px) and (min-width: 1366px) {
  body,
  html {
    width: 1366px; }
  th:nth-child(3),
  td:nth-child(3) {
    width: 10%;
    text-align: center; }
  .dev__text {
    max-width: 330px; }
  .about__dev {
    max-width: 60vw;
    text-align: center; }
  th:nth-child(2),
  td:nth-child(2) {
    width: 15%;
    text-align: center; }
  th:nth-child(1),
  td:nth-child(1) {
    width: 20%;
    text-align: left;
    padding-left: 3vw; }
  .service-block {
    width: 100em; }
  .service-block__table {
    margin: 0; }
  .swiper__container__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 250px); }
  .swiper__container--open {
    height: 350px; }
  .slider {
    gap: 20px 35px;
    margin-left: 2%;
    grid-template-columns: repeat(4, 230px); }
  .slide {
    width: 240px; }
  .hidden__slide {
    display: flex; } }

.aside__feedback {
  padding-top: 15px;
  position: absolute;
  top: 0;
  width: 100%;
  height: 2300px;
  background-color: #FFFFFF;
  z-index: 2000;
  transform: translateX(2000px);
  transition: all 0.4s ease-in-out; }

.aside__feedback--open {
  transform: translateX(0); }

.feedback__title {
  background-color: inherit;
  display: flex;
  gap: 15px;
  align-items: center; }

.title__left-border::before {
  display: block;
  content: '';
  width: 4px;
  height: 40px;
  background: url(./static/left-border.svg); }

.title__text {
  background-color: inherit;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6px; }

.form__block {
  background-color: #FFFFFF;
  margin-top: 15px; }

label {
  background-color: #FFFFFF; }

.block__input {
  background-color: #FFFFFF;
  border: 1px #EAEAEA solid;
  border-radius: 8px;
  width: 288px;
  height: 48px;
  color: #B5B6BC;
  padding-left: 15px; }

.block__area {
  width: 288px;
  height: 118px;
  resize: none; }

textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
  font-size: 16px;
  color: #B5B6BC; }

textarea::-moz-placeholder,
input::-moz-placeholder {
  font-size: 16px;
  color: #B5B6BC; }

textarea:-ms-input-placeholder,
input:-ms-input-placeholder {
  font-size: 16px;
  color: #B5B6BC; }

textarea::placeholder,
input::placeholder {
  font-size: 16px;
  color: #B5B6BC; }

.feedback__form {
  margin: 0 auto;
  background-color: inherit;
  font-weight: 600;
  width: 320px; }

.form__text {
  background-color: inherit;
  margin-left: 15px;
  color: #7e7e82; }

.colortext {
  background-color: inherit;
  color: #FF3E79; }

.form__button {
  margin-left: 175px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  border: none;
  background-color: #FF3E79;
  width: 136px;
  height: 32px;
  border-radius: 30px; }

.button__arrow-ic {
  background: url(./static/arrow-right-ic.svg);
  width: 10px;
  height: 10px;
  background-repeat: no-repeat; }

.button__send-text {
  width: 90px;
  text-transform: uppercase;
  background: none;
  color: #F8F8F8;
  font-weight: 600; }

.feedback__close {
  margin-left: 15px;
  background: url(./static/close.svg); }

.form__block--hidden {
  display: none; }

@media (min-width: 1366px) {
  .aside__feedback {
    padding-top: 15px;
    width: 650px;
    min-height: 900px;
    border-left: 1px #d9fff5 solid;
    box-shadow: -34px 0px 25px -14px rgba(34, 60, 80, 0.14); }
  .aside__feedback--open {
    position: fixed;
    transform: translateX(900px); }
  .feedback__close {
    border-radius: 50%;
    position: absolute;
    left: -80px;
    transform: translateY(20px); } }

@font-face {
  font-family: 'TTLakes';
  src: local("TTLakesCondensed"), local("TTLakes-Regular"), url(./fonts/TTLakes-Regular.woff) format("woff");
  font-weight: normal; }

@font-face {
  font-family: 'TTLakes';
  src: local("TTLakesCondensed"), local("TTLakes-Medium"), url(./fonts/TTLakes-Medium.woff) format("woff");
  font-weight: 600; }

@font-face {
  font-family: 'TTLakes';
  src: local("TTLakesCondensed"), local("TTLakes-Bold"), url(./fonts/TTLakes-Bold.woff) format("woff");
  font-weight: bold; }

* {
  background-color: #F8F8F8; }

body,
html {
  min-width: 320px;
  font-family: 'TTLakes', Arial, sans-serif;
  color: #1b1c21;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  margin: 0;
  padding: 0; }

body {
  overflow-x: hidden;
  margin: 0 auto; }

.head__blur {
  display: none;
  position: absolute;
  left: 0;
  width: 2300px;
  height: 2000px;
  z-index: 900;
  opacity: 0;
  cursor: pointer;
  overflow: hidden; }

.head__blur--active {
  display: block; }

.header__btn {
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  border: none;
  transition: all 0.2s ease-in-out; }

.header__btn:hover {
  opacity: 0.6; }

.header__menu {
  background-image: url(./static/menu-ic.svg); }

.header__call {
  background-image: url(./static/call-ic.svg); }

.header__chat {
  background-image: url(./static/chat-ic.svg); }

.header__profile {
  background-image: url(./static/profile-ic.svg); }

.header__settings {
  background-image: url(./static/settings.svg); }

.header__search {
  background-image: url(./static/search.svg); }

.header__lens {
  background-image: url(./static/lens.svg); }

.header__menu {
  transition: all 300ms ease-in-out; }

.button--close {
  transform: rotate(-180deg);
  background: url(./static/close.svg); }

.header {
  background-color: #FFFFFF;
  display: flex;
  height: 88px;
  border-bottom: 1px #d9fff5 solid;
  justify-content: center;
  gap: 18px;
  width: 100vw; }

.header__left-side,
.header__right-side {
  background-color: #FFFFFF;
  align-items: center;
  display: flex;
  gap: 18px; }

.header__logo {
  background-color: #FFFFFF; }

.header__link {
  background-color: inherit; }

.header__btn--hidden {
  display: none; }

.header__btn {
  border-radius: 50%; }

.header__border-line {
  display: block;
  align-self: center;
  height: 32px;
  width: 2px;
  background: url(./static/border-line.svg); }

.main,
.header {
  transition: all 0.2s ease-in-out; }

.main__title-service {
  display: flex;
  gap: 15px;
  align-items: center; }

.main__title-text {
  font-weight: bold;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6px; }

.main__btn--settings,
.main__btn--search {
  display: none; }

.main__scroll-side-bar {
  width: 100vw; }

.main__scroll__gradient-left {
  position: absolute;
  width: 30px;
  height: 45px;
  transform: rotate(90deg);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0), #F8F8F8); }

.main__scroll__gradient-right {
  position: absolute;
  right: 0;
  width: 30px;
  height: 45px;
  transform: rotate(-90deg);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0), #F8F8F8); }

.main__side-bar-nav {
  white-space: nowrap;
  overflow-x: scroll;
  max-width: 1120px;
  display: flex;
  gap: 10px;
  padding-left: 20px;
  padding-right: 20px; }

.main__side-bar-link:hover {
  border: 2px #b8ffec solid;
  background-color: #FFFFFF; }

.main__side-bar-link {
  transition: all 0.1s;
  border: 2px #F8F8F8 solid;
  text-decoration: none;
  padding: 6px 13px;
  border-radius: 5px;
  color: #7e7e82;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.2px;
  margin-bottom: 10px; }

.main__about {
  margin: 0 auto;
  width: 100%; }

.main__about-description {
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  width: 90%;
  margin: 0 auto;
  height: 90px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  margin-bottom: 10px; }

.types__equipment {
  margin-top: 10px; }

.main__about-description--open {
  height: 215px; }

.main__about-read-more {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 13px;
  border: none;
  font-weight: 400;
  margin-left: 15px; }

.main__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw; }

.main__about-button {
  display: flex;
  align-items: center;
  margin-left: 15px; }

.about-button__arrow {
  transition: all 0.3s ease-in-out;
  width: 8px;
  height: 11px;
  background-image: url(./static/arrow.svg);
  background-repeat: no-repeat; }

.about-button__arrow--rotete {
  transform: rotate(180deg); }

.main__about-read-more {
  transform: translateX(-10px); }

.main__img-cps {
  height: auto;
  width: 100%; }

.main__description-picture {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 20px; }

.header__left-border {
  display: none; }

.main__title-service::before {
  content: '';
  width: 4px;
  height: 40px;
  background: url(./static/left-border.svg); }

@media (min-width: 768px) {
  body,
  html {
    min-width: 768px; }
  .header__left-border {
    display: block; }
  .page-footer {
    margin-top: 300px; }
  .header {
    justify-content: space-between; }
  .header--hidden {
    display: flex; }
  .header__border-line--hidden {
    display: none; }
  .header__btn--hidden {
    display: block; }
  .header__left-side {
    margin-left: 30px; }
  .header__right-side {
    margin-right: 30px; }
  .main__about-description {
    width: 90%;
    height: 45%; }
  .main__about-description--open {
    height: 70%; }
  .main__about {
    display: flex;
    width: 100%;
    height: 300px;
    flex-direction: column;
    align-self: self-start; }
  .main__img-cps {
    border-radius: 8px;
    height: auto;
    width: 90%; }
  .main__description-picture {
    width: 100%;
    height: auto; }
  .main__about-read-more {
    margin-top: 5px; }
  .main__description {
    width: 100%;
    flex-direction: row;
    justify-content: space-around; } }

@media (min-width: 768px) and (min-width: 1366px) {
  body,
  html {
    margin: 0 auto;
    width: 1366px; }
  .main__scroll__gradient {
    display: none; }
  body {
    display: flex; }
  .header {
    display: none; }
  .main__btn--settings,
  .main__btn--search {
    display: flex; }
  .main__title {
    width: 1096px;
    display: flex;
    justify-content: space-between; }
  .main__title-buttons {
    display: flex;
    gap: 30px; }
  .main__btn-text {
    font-weight: 600; }
  .main__btn--settings,
  .main__btn--search {
    gap: 10px;
    display: flex;
    align-items: center; }
  .main__side-bar-nav {
    max-width: 1120px;
    flex-wrap: wrap;
    overflow: hidden; }
  .main__about-description {
    height: 160px;
    width: 490px; }
  .about-button__read-more,
  .about-button__arrow {
    display: none; }
  .main__img-cps {
    width: 532px;
    border-radius: 8px; }
  .main__description {
    width: 1096px;
    justify-content: space-between; } }


/*# sourceMappingURL=style.css.map*/