.sidebar {
  padding-top: 15px;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 2300px;
  background-color: $bgColorElement;
  z-index: 1000;
  transform: translateX(-900px);
  transition: all 0.4s ease-in-out;
}

.header__sidebar {
  background-color: inherit;
  justify-content: space-evenly;
  display: flex;
  align-items: center;
  gap: 50px;
  margin-bottom: 30px;
}

.header__sidebar--left-side {
  background-color: inherit;
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__logo-link_sidebar {
  background-color: inherit;
}

.sidebar--open {
  transform: translateX(0);
}

.side-menu {
  background-color: inherit;
  display: flex;
  flex-direction: column;
}

.side-menu__button {
  background-color: inherit;
  box-sizing: border-box;
  border: none;
  display: flex;
  margin-bottom: 25px;
  margin-left: 15px;
}

.side-menu__button--active {
  display: flex;
  align-items: center;
  // transform: translateX(-6px);
  gap: 15px;
  margin-left: 0;
  color: $secondaryTextColor;
  border: none;
  background-color: none;
}

.side-menu__button--no-active {
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.side-menu__button--no-active:hover {
  opacity: 0.6;
}

.side-menu__button--active::before {
  transform: translateX(-6px);
  content: '';
  display: flex;
  width: 4px;
  height: 32px;
  background: url('../img/left-border.svg');
}

.button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  opacity: 0.6;
}

.header__close {
  background: url('../img/close.svg');
}

.page-footer__call-button {
  background: url('../img/call-ic.svg');
}

.page-footer__chat-button {
  background: url('../img/chat-ic.svg');
}

.page-footer__profile-button {
  background: url('../img/profile-ic.svg');
}

.page-footer {
  background-color: $bgColorElement;
  margin: 25px;
  margin-left: 20px;
}

.contacts {
  background-color: $bgColorElement;
  margin-top: 15px;
  flex-direction: column;
  display: flex;
  gap: 10px;
}

.page-footer__email {
  background-color: inherit;
  font-weight: 600;
}

.page-footer__phone {
  background-color: inherit;
  font-weight: bold;
}

.page-footer__buttons {
  background-color: $bgColorElement;
  display: flex;
  gap: 15px;
}

.page-footer__language-switcher {
  background-color: $bgColorElement;
}

.page-footer__language-button {
  background-color: inherit;
  transition: all 0.1s ease-in-out;
  border: none;
}

.page-footer__language-button--no-active:hover {
  opacity: 0.6;
  cursor: pointer;
}

.page-footer__contacts {
  background-color: inherit;
}

.page-footer__language-button--active {
  color: $secondaryTextColor;
}

@media (min-width: 768px) {
  .sidebar {
    width: 320px;
    box-shadow: 34px 0px 25px -14px rgba(34, 60, 80, 0.14);
  }
}

@media (min-width: 1366px) {
  .sidebar {
    padding-top: 35px;
    padding: 30px 10px;
    display: block;
    position: sticky;
    transform: translateX(0);
    box-shadow: none;
  }

  .header__close {
    display: none;
  }
}
