$bgColor: #ffffff;
$textColor: #1b1c21;
$borderColor: #d9fff5;
$buttonHoverColor: #b8ffec;
$secondaryTextColor: #7e7e82;
$iconColor: #f8f8f8;
$activeBorderColor: #7e7e82;
$formColor: #B5B6BC;
$formBorderColor: #EAEAEA;
$pinkColor: #FF3E79;