@import 'variables';
@import 'sidebar';

@font-face {
  font-family: 'TTLakes';
  src: local('TTLakesCondensed'), local('TTLakes-Regular'),
    url('../fonts/TTLakes-Regular.woff') format('woff');
  font-weight: normal;
}

@font-face {
  font-family: 'TTLakes';
  src: local('TTLakesCondensed'), local('TTLakes-Medium'),
    url('../fonts/TTLakes-Medium.woff') format('woff');
  font-weight: 600;
}

@font-face {
  font-family: 'TTLakes';
  src: local('TTLakesCondensed'), local('TTLakes-Bold'),
    url('../fonts/TTLakes-Bold.woff') format('woff');
  font-weight: bold;
}

* {
  background-color: $bgColor;
}

body,
html {
  min-width: 320px;
  font-family: 'TTLakes', Arial, sans-serif;
  color: $textColor;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  margin: 0;
  padding: 0;
}

* {
  background-color: $iconColor;
}

.header__btn {
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  border: none;
  background-color: $iconColor;
  transition: all 0.2s ease-in-out;
}

.header__btn:hover {
  opacity: 0.6;
}

.header__menu {
  background-image: url('../img/menu-ic.svg');
}

.header__call {
  background-image: url('../img/call-ic.svg');
}

.header__chat {
  background-image: url('../img/chat-ic.svg');
}

.header__profile {
  background-image: url('../img/profile-ic.svg');
}

.header__settings {
  background-image: url('../img/settings.svg');
}

.header__search {
  background-image: url('../img/search.svg');
}

.header__lens {
  background-image: url('../img/lens.svg');
}

.header__menu {
  transition: all 300ms ease-in-out;
}


.button--close {
  transform: rotate(-180deg);
  background: url('../img/close.svg');
}

.header {
  display: flex;
  height: 88px;
  border-bottom: 1px $borderColor solid;
  justify-content: center;
  gap: 18px;
}

.header__left-side,
.header__right-side {
  align-items: center;
  display: flex;
  gap: 18px;
}

.header__btn--hidden {
  display: none;
}

.header__border-line {
  display: block;
  align-self: center;
  height: 32px;
  width: 2px;
  background: url('../img/border-line.svg');
}

.main, .header {
  transition: all 0.2s ease-in-out;
}

.main__title-service {
  display: flex;
  gap: 15px;
  align-items: center;
}

.main__title-text {
  font-weight: bold;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6px;
}

.main__btn--settings,
.main__btn--search {
  display: none;
}

.main__side-bar-nav {
  white-space: nowrap;
  overflow-x: scroll;
  max-width: 1120px;
  display: flex;
  gap: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 5px;
}

.main__side-bar-link:hover {
  border: 2px $buttonHoverColor solid;
}

.main__side-bar-link {
  transition: all 0.1s;
  border: 2px $bgColor solid;
  text-decoration: none;
  padding: 6px 13px;
  border-radius: 5px;
  color: $secondaryTextColor;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.2px;
  margin-bottom: 10px;
}

.main__about {
  margin: 0 auto;
  width: 100%;
}

.main__about-description {
  overflow: hidden;
  width: 90%;
  margin: 0 auto;
  height: 100px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  margin-bottom: 10px;
}

.main__about-read-more {
  display: flex;
  align-items: center;
  font-size: 16px;
  gap: 13px;
  border: none;
  font-weight: 400;
  margin-left: 15px;
}

.main__description {
  min-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__about-read-more::before {
  content: ' ';
  width: 8px;
  height: 11px;
  background-image: url('../img/arrow.svg');
  background-repeat: no-repeat;
  display: block;
}

.main__img-cps {
  height: auto;
  width: 100%;
}

.main__description-picture {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 40px;
}

.header__left-border {
  display: none;
}

.main__title-service::before {
  content: '';
  width: 4px;
  height: 40px;
  background: url('../img/left-border.svg');
}

@media (min-width: 768px) {
  body,
  html {
    min-width: 768px;
  }

  .header__left-border {
    display: block;
  }

  .page-footer {
    margin-top: 300px;
  }

  .header {
    justify-content: space-between;
  }

  .header--hidden {
    display: flex;
  }

  .header__border-line--hidden {
    display: none;
  }

  .header__btn--hidden {
    display: block;
  }

  .header__left-side {
    margin-left: 30px;
  }

  .header__right-side {
    margin-right: 30px;
  }

  .main__about-description {
    width: 90%;
    height: 45%;
  }

  .main__about {
    display: flex;
    width: 100%;
    height: 300px;
    flex-direction: column;
    align-self: self-start;
  }

  .main__img-cps {
    border-radius: 8px;
    height: auto;
    width: 90%;
  }

  .main__description-picture {
    width: 100%;
    height: auto;
  }

  .main__about-read-more {
    margin-top: 5px;
  }

  .main__description {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
  }

  @media (min-width: 1366px) {
    body,
    html {
      margin: 0 auto;
      width: 1096px;
    }

    body{
      display: flex;
    }

    .header {
      display: none;
    }

    .main__btn--settings,
    .main__btn--search {
      display: flex;
    }

    .main__title {
      width: 1096px;
      display: flex;
      justify-content: space-between;
    }

    .main__title-buttons {
      display: flex;
      gap: 30px;
    }

    .main__btn-text {
      font-weight: 600;
    }

    .main__btn--settings,
    .main__btn--search {
      gap: 10px;
      display: flex;
      align-items: center;
    }

    .main__side-bar-nav {
      max-width: 1120px;
      flex-wrap: wrap;
      overflow: hidden;
    }

    .main__about-description {
      height: 160px;
      width: 490px;
    }

    .main__img-cps {
      width: 532px;
      border-radius: 8px;
    }

    .main__description {
      width: 1096px;
      justify-content: space-between;
    }
  }
}